#!/bin/bash
# location: /etc/systemd/system/
[Unit]
Description = Atomik API Serivce 
After       = syslog.target network.target

[Service]
WorkingDirectory=/usr/atomik/
ExecStart   = /usr/local/bin/node /usr/atomik/atomik-api.js
#ExecStop    = kill -INT `cat /run/atomikSER.pid`
#ExecReload  = kill -TERM `cat /run/atomikSER.pid`
Restart     = always
Type        = simple 
NotifyAccess= main
#PIDFile     = /run/atomikSER.pid
StandardOutput=null

[Install]
WantedBy = multi-user.target
