#!/bin/bash
# location: /etc/systemd/system/
[Unit]
Description = Atomik Mi-Light Emulator Serivce 
After       = syslog.target network.target

[Service]
ExecStart   = /usr/bin/emulator
ExecStop    = kill -INT `cat /run/atomikEMU.pid`
ExecReload  = kill -TERM `cat /run/atomikEMU.pid`
Restart     = always
Type        = simple 
NotifyAccess= main
PIDFile     = /run/atomikEMU.pid
StandardOutput=null

[Install]
WantedBy = multi-user.target
